GOOGLE_SHEETS_MASTER_SPREADSHEET_ID=12qJdkAmu9i5_JCc0CwdnMsq1sMnQHnGzZSXGgk6xoEQ
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
GOOGLE_SHEETS_INDEX_TAB_NAME=Area Links
GOOGLE_SHEETS_TAB_NAME=Orders
