.DS_Store
.env*.local
.env
/*service-account*.json
/*credential*.json
/*credentials*.json
/*key*.json
/form-pemesanan-pakan-*.json

node_modules/
.next/
out/
work/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

tsconfig.tsbuildinfo
